
.contentCart{
  display: flex;
  justify-content: center;

}

.cart{
  margin-top: 10%;
  text-align: center;
  align-items: center;
  width: 50%
}

#card-element{
  margin-top: 10%;
  margin-bottom: 10%

}

.btn-validate{
  background-color: black;
  padding: 15px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}